/**
 * this style sheet is cited from https://github.com/jonsuh/hamburgers
 */


@value hamburger-padding-top-bottom: 6px;
@value hamburger-line-weight: 3px;
@value hamburger-width: 40px;
@value hamburger-height: calc(hamburger-width * 0.6); /* half of width */
@value line-color: var(--theme-hamburger-color, var(--theme-on-primary));
@value menu-min-width: min(90vw, 240px);

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  /*padding: 15px 15px;*/
  /*padding: 12px 0;*/
  padding: hamburger-padding-top-bottom 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: none;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.isActive:hover {
    opacity: 0.7; }
  .hamburger.isActive .hamburgerInner,
  .hamburger.isActive .hamburgerInner::before,
  .hamburger.isActive .hamburgerInner::after {
    background-color: line-color; }

.hamburgerBox {
/* area to be clicked */
  width: hamburger-width;
  height: hamburger-height;
  display: inline-block;
  position: relative; }

.hamburgerInner {
  display: block;
  top: 50%;
  margin-top: 4px; }
  .hamburgerInner, .hamburgerInner::before, .hamburgerInner::after {
    width: hamburger-width;
    height: hamburger-line-weight;
    background-color: line-color;
    /* border-radius: 4px; */
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburgerInner::before, .hamburgerInner::after {
    content: "";
    display: block; }

/*
 * Slider
 */
.hamburgerSlider .hamburgerInner {
  top: 0px; }
  .hamburgerSlider .hamburgerInner::before {
    top: calc(hamburger-height / 2);
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburgerSlider .hamburgerInner::after {
    top: hamburger-height; }

.hamburgerSlider.isActive .hamburgerInner {
  transform: translate3d(0, calc(hamburger-height / 2), 0) rotate(45deg); }
  .hamburgerSlider.isActive .hamburgerInner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, calc(hamburger-height / 4), 0);
    opacity: 0; }
  .hamburgerSlider.isActive .hamburgerInner::after {
    transform: translate3d(0, calc(hamburger-height * -1), 0) rotate(-90deg); }

/*
 * Menu
 */
.menuWrapper {
  position: absolute;
  top: calc(hamburger-padding-top-bottom * 2 +
            hamburger-line-weight * 3 + hamburger-height);
  min-width: menu-min-width;
  right: 0;
  margin: 0 auto;
  z-index: 100;

  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s;
}

.menuWrapper.isActive {
  transform: scale(1);
}
