.paperitem {
  color: #000;
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid #bbb;
  text-align: left;
}

.paperitem.noBorder {
  border-bottom: none;
}

.paperitem.isActive {
  background-color: var(--theme-is-active);
}

